.calendarpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

.date{
    text-align: center;
}

.modalHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar button {
    margin-top: 6px;
    margin-bottom: 6px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.calendar abbr {
    border-bottom: none;
    text-decoration: none;
    text-align: center;
}

.calendar {
    color: white;
    text-align: center;
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gaugebar{
    width: 50%;
    height: 40px;
}

.transactions {
    margin-top: 20px;
    text-align: center;
    width: 50%;
}

.addform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settingsButton {
    border-radius: 10px;
    width: 50%;
    height: 45px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
}

.settingsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-home {
    border-radius: 10px;
    margin-top: 20px;
    width: 8%;
    height:30px
}

.budget-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}