.expensesTab {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expenseCard {
    border-radius: 10px;
    width: 100%;
    height: 45px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px; 
}

.expenseCardWhite {
    border-radius: 10px;
    width: 100%;
    height: 45px;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px; 
}
